#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}
#pro {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 96, 96, 0.653);
  /* background-image: url(https://i.imgur.com/Wvgjq37.gif); */
  background-position: center;
  background-size: cover;
}
#left {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 27, 27, 0.815);
  gap: 20px;
}
.p_cou {
  width: 70%;
  height: 70px;
  background-color: rgba(52, 53, 53, 0.795);
  display: flex;
  align-items: center;
  padding: 0px 30px;
  color: white;
  font-size: 22px;
  gap: 13px;
  transition: all ease 1s;
}
.p_cou:hover {
  background-color: rgba(123, 123, 123, 0.708);
}
#right {
  width: 90vw;
  height: 100%;
  background-color: rgb(86, 86, 85);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p_cou a {
  text-decoration: none;
  color: white;
}
#p1 {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
#pro_img {
  height: 60px;
  width: 60px;
  background-color: rgb(148, 145, 145);
  border-radius: 50%;
}
#dui {
  width: 90vw;
  height: 50vh;
  background-color: rgba(36, 36, 36, 0.626);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  overflow: scroll;
  flex-wrap: wrap;
}
#dui::-webkit-scrollbar {
  display: none;
}
.card {
  width: 200px;
  height: 250px;
  background-color: rgba(95, 95, 97, 0.847);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
#imgbox {
  width: 100%;
  height: 70%;
  background-color: rgba(177, 177, 177, 0.815);
  overflow: hidden;
}
#imgbox img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
#imgbox img:hover {
  scale: 1.3;
}
#namew {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#namew p {
  font-size: 13px;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#load {
  width: 100px;
  height: 6px;
  background-color: white;
}

#user_dash {
  width: 100vw;
  height: 100vh;
  background-color: rgb(45, 44, 44);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all ease 0.7s;
}

#user_dash i {
  font-size: 26px;
  color: whitesmoke;
  padding: 5px;
}
nav {
  position: absolute;
  margin: auto 19.7em;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.nav-items {
  text-align: center;
  position: relative;
  top: 1em;
  padding: 1.5rem 2em;
  border: 2px solid rgb(51, 51, 51);
  display: flex;
  gap: 1em;
  border-radius: 30px;
  justify-content: center;
  color: white;
}

.nav-items a {
  color: rgba(0, 0, 0, 0.813);
  text-decoration: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
}

header.dashboard {
  background: #1a1a1a;
  color: black;
  padding: 0em;
  border-radius: 19px;
  margin: auto;
  padding: 3em;
  height: 14em;
  font-weight: 100;
  color: whitesmoke;
}

h1 {
  font-weight: 500;
  font-size: 4em;
  position: relative;
  left: -0.5em;
  top: 2.9em;
}

.overpanel {
  display: flex;
  padding: 0 1em;
  gap: 4em;
  margin-top: -32px;
}

.column1 {
  background: #e1765a;
}

.column2 {
  background: #5dbe74;
}

.column3 {
  background: #1d1d1d;
  color: #ccc;
}

.rows.column3 h1 {
  color: #ddd;
}

.column4 {
  background: #8f9a9d;
}

.column5 {
  background: #e3d45a;
}

.sales h1,
.analytics h1 {
  color: #696969;
  font-size: 21px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
}

.rows {
  margin-top: 10px;
  user-select: none;
  padding: 1em 2em;
  border-radius: 20px;
  display: grid;
  gap: 1em;
  height: 58px;
  cursor: pointer;
  transition: 0.3s;
}

.rows:hover {
  opacity: 0.8;
}

.row2 {
  display: flex;
  gap: 10px;
  top: 3.1em;
  position: relative;
}

.row1 {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: auto;
  position: relative;
  top: 3em;
  left: -16px;
}

.rows h1 {
  position: relative;
  font-size: 39px;
  top: -24px;
  color: black;
  left: -29px;
}

.rows p {
  font-size: 13px;
  position: relative;
  left: -17px;
  top: -10px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.another-one {
  display: grid;
}

.another-two {
  gap: 4px;
  display: grid;
}

header.dashboard h1::after {
  content: "- ";
  display: flex;
  color: transparent;
  background: url(https://cdn.discordapp.com/attachments/1048680804257103954/1094620543891816488/image.png);
  position: absolute;
  padding: 1em;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: flex-end;
  right: 0;
  left: 8.5em;
  bottom: -36px;
}

header.dashboard h1::before {
  content: "1345 transactions";
  position: absolute;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  top: -70px;
  background-color: black;
  user-select: all;
  right: 38px;
  height: 1px;
  padding: 10px;
  border-radius: 30px;
  color: #855be2;
  z-index: 9;
}

.sales h1 {
  left: -27px;
  margin-bottom: 18px;
}

.analytics {
  position: relative;
  right: -23px;
  bottom: -6px;
}

.sales {
  margin-top: 4px;
}

#certi {
  width: 100vw;
  height: 100vh;
  background-color: rgb(45, 44, 44);
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 0.7s;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  color: white;
  display: none;
  padding: 60px;
}
#certi h3 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
  font-size: 22px;
}
#certi h1 {
  position: absolute;
  text-align: center;
  left: 20%;
  top: 20%;
  transform: translate(-50%, -50%);
}
#certi #dui {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
